<html>
    <head>
        <title>
            Fault detection
        </title>
    </head>
    <body>
        <form method="post" action="predict">
            <label for="la">Enter la:</label>
            <input type="text" name="la" placeholder="Enter la">
            <br>
            <br>
            <label for="lb">Enter lb:</label>
            <input type="text" name="lb" placeholder="Enter lb">
            <br>
            <br>
            <label for="lc">Enter lc:</label>
            <input type="text" name="lc" placeholder="Enter lc">
            <br>
            <br>
            <label for="Va">Enter Va:</label>
            <input type="text" name="Va" placeholder="Enter Va">
            <br>
            <br>
            <label for="Vb">Enter Vb:</label>
            <input type="text" name="Vb" placeholder="Enter Vb">
            <br>
            <br>
            <label for="Vc">Enter Vc:</label>
            <input type="text" name="Vc" placeholder="Enter Vc">
            <br>
            <br>    
            <button type="submit">Predict</button>
        </form>
    </body>
</html>